* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}

@property --bg-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #13131a;
}

body {
  background: linear-gradient(to bottom, var(--bg-color), #13131a);
  transition: 1.5s --bg-color;
}

html,
body,
#app {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* 修改进度条颜色 */
#nprogress .bar {
  background: var(--el-color-primary) !important;
}

.icon-button {
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1.1);
  }
}

.global-page-fill {
  width: 100%;
  height: calc(100vh - 80px - 90px - 20px - 20px);
}

.global-loading-svg .circular {
  animation: none;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
