/* just override what you need */
@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: (
    'primary': (
      'base': #fc3d49,
    ),
    'info': (
      'base': #ecedeb,
    ),
  ),
  $box-shadow: (
    'dark': (
      0px 16px 48px 16px rgba(0, 0, 0, 0.15),
    ),
  )
);
