/* just override what you need */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #fc3d49,
    ),
  ),
  $border-radius: (
    'base': (
      8px,
    ),
  )
);

@use './dark.scss';
